
.navbar-brand{
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}
.navbar-nav{
    text-align: center;
}

#contactosTitulo{
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration-color: #FFF;
    background-color:#971c1c;
    
}

.detalles{
    font-size: 15px;
    background-color: aquamarine;
}

#añadir{
    margin: 25px;
    display: block;
    width: 180px;
    font-family: sans-serif;
    font-weight: 700;
    background: linear-gradient(to right, #971c1c,#022724);
    border-radius: 15px 0 15px 0 ;
    color: #FFF;
    padding: 30px 30px;

}

#usuario{
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    background-color: rgb(15, 96, 143);
    text-decoration-color: #FFF;
}

#targeta{
    background-color: rgb(15, 96, 143);
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

#prioridad{
    font-size: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 50px;
    background-color: #FFF;
}

.prioridadcheck{
    margin-left: 30%;
    margin-right: 30%;
    background-color: #FFF;
}

#lista{
    font-size: 40px;
    margin-left: 7%;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 8%; 
}

.check{
    margin: 50px;
   background-color: aliceblue;
   text-align: center;
   margin-left: 20%;
   margin-right: 20%;
}

.navbar-inverse {
    background-color: #971c1c;
}

#img {
    border-radius: 50px;
    width: 500px;
    margin-left: 50px;
}